@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  justify-content: center;
}

.nav-items {
  padding-left: 0px;
}

.nav-item {
  color: white;
  padding: 15px;
  cursor: pointer;
}

.nav-item:hover {
  color: #79A1B9
}

.nav-item span {
  padding-left: 30px;
}

.nav li {
  list-style-type: none;
}

.titles.col {
  margin: 40px 20px 10px 20px;
  padding: 0px;
  border-bottom: 2px solid #f4f4f9;
}

.titles h1 {
  font-size: 34px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #f4f4f9;
}

.titles h5 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #79A1B9;
}

.details {
  padding: 10px;
  margin: 0px 10px 75px 10px;
  height: 100%;
  justify-content: center;
}

.details p {
  font-size: 18px;
  color: #f4f4f9;
}

#detailContact {
  background-color: #79A1B9;
  // background-image: linear-gradient(to bottom right, white, #FFDDD2);
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: background-color .4s ease;
  -moz-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

#detailContact a {
  font-weight: bold;
  color: white;
  -webkit-transition: background-color .4s ease;
  -moz-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

#detailContact:hover {
  background-color: #FFDDD2;
  background-image: none;
  color: #393D3F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#detailContact:hover a {
  color: #393D3F;
  text-decoration: none;
}