@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  justify-content: center;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #79A1B9
}

.nav-link span {
  padding-left: 30px;
}