.HeaderContent {
    align-items: center;
}

.Title h1 {
    font-size: 60px;
    font-weight: lighter;
    color: white;
}

.Title h5 {
    color: white;
}

.ContactButton {
    float: right;
    background-color: #FFDDD2;
    background-image: linear-gradient(to bottom right, white, #FFDDD2);
    color: #393D3F;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
  
  .ContactButton a {
    font-weight: bold;
    color: #393D3F;
  }
  
  .ContactButton:hover {
    background-color: #FFDDD2;
    background-image: none;
    color: #393D3F;
  }

  .ContactButton:hover a {
    background-color: #FFDDD2;
    color: #393D3F;
    text-decoration: none;
  }